<!-- RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 2
  Author: Nguyen Hoang Phuong, Nguyen Thach Khanh Dzi, Hanjun Lee, Taesung Yoon, Pham Le Gia Huy
  ID: S3924593, S3980883, S3732878, S3847581, S3975371
  Acknowledgement: Acknowledge the resources that you use here.  -->


<div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="http://www.localhost:3000/aboutus" class="nav-link px-2 text-body-secondary">About</a></li>
        <li class="nav-item"><a href="http://www.localhost:3000/privacypolicy" class="nav-link px-2 text-body-secondary">Privacy</a></li>
        <li class="nav-item"><a href="http://www.localhost:3000/help" class="nav-link px-2 text-body-secondary">Help</a></li>
      </ul>
      <p class="text-center text-body-secondary">&copy;Copyright@ Rmit University group 13</p>
    </footer>
  </div>

<script src="/js/detail.js"></script>

</body>
</html>