<!-- RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 2
  Author: Nguyen Hoang Phuong, Nguyen Thach Khanh Dzi, Hanjun Lee, Taesung Yoon, Pham Le Gia Huy
  ID: S3924593, S3980883, S3732878, S3847581, S3975371
  Acknowledgement: Acknowledge the resources that you use here.  -->


<%- include('./partials/header') %> <%- include('./partials/nav') %>

<main>
  <div id="category_pages" class="container">
    <h2 class="fw-bolder category_page_name"></h2>
    <hr />
    <div class="col-lg-10 col-xs-10 col-xl justify-content-center container">
      <div data-bs-spy="scroll" data-bs-target="#simple-list-example" data-bs-offset="0" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
        <div id="category_products">
          <h1 style="font-family: Georgia, serif">Help</h1>
          <br />
          <br />
          <h2 style="font-family: Georgia, serif">
            Contact by Email : S3847581@rmit.edu.vn
          </h2>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include('./partials/footer') %>