<!-- RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 2
  Author: Nguyen Hoang Phuong, Nguyen Thach Khanh Dzi, Hanjun Lee, Taesung Yoon, Pham Le Gia Huy
  ID: S3924593, S3980883, S3732878, S3847581, S3975371
  Acknowledgement: Acknowledge the resources that you use here.  -->


<%- include('./partials/header') %>
<%- include('./partials/nav') %>

<main>
  <div id="category_pages" class="container">
    <h2 class=" fw-bolder category_page_name"></h2>
    <hr>
    <div class="col-lg-10 col-xs-10 col-xl justify-content-center container">
      <div data-bs-spy="scroll" data-bs-target="#simple-list-example" data-bs-offset="0" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
        <div id="category_products">
          <h1>Privacy Policy</h1>
          <br>
          <br>
          <p>
            • MUSINSA Store, an Internet shopping mall service operated by MUSINSA Co., Ltd. (hereinafter referred to as the "MUSINSA"), considers the protection of the customers’ personal information paramount and makes the best effort to protect the customers’ privacy.
            <br>
            • MUSINSA Store complies with the provisions concerning the protection of personal information under any applicable laws and regulations regarding information and communications service providers, including the Telecommunications Security Protection Act, the Telecommunications Business Act, the Act on Promotion of Information and Communications Network Utilization and Information Protection, etc., the Personal Information Protection Act and its Enforcement Decree. In accordance with applicable laws,
            <br>
            • MUSINSA has established the Privacy Policy (this "Policy"), which is disclosed in its homepage (https://global.musinsa.com/; hereinafter referred to as "Homepage") for customer access.
            <br>
            • This Policy may be, from time to time, revised according to amendments in relevant laws and regulations. In the event of any revisions or changes to this Policy, MUSINSA makes such changes on this page and where appropriate, will notify such changes to you by email. Users are requested to check for such revisions when visiting the MUSINSA Store website.
            <br>
            • 1. Purpose of Collecting and Using Personal Information
            <br>

            MUSINSA collects and uses the personal information of MUSINSA Store users for the following purposes:
            <br>

            ClassificationPurpose of UseMembership management
            <br>

            • To identify members for providing membership services
            <br>

            • To prevent misuse by an unauthorized user
            <br>

            • To confirm user registrations
            <br>

            • To keep record for consultations, complaint handling procedures, and dispute settlements
            <br>

            • To deliver notices
            <br>

            • To prevent unauthorized use of ID
            <br>

            • To prevent fraudulent transactions
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include('./partials/footer') %>